<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-wrapper">
    <nav class="fixed-nav">
     <a href="/singles">Ver a los solteros</a>
    <img src="https://album.mediaset.es/cimg/251095/2019/12/11/site_laisladelastentaciones_39e7.png">
    <a href="/couples">Ver a las parejas</a>
    </nav>
    </div>


    {{{body}}}
</body>

</html>